@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg-color: #131319;
  --secondary-color: #27292d;
}

body {
  background-color: var(--primary-bg-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
